html{
	background-color: #ffffff;
}

.hidden{
	display:none;
}

.right-fixed{
	position:fixed;
	right:0;
	margin:12px;
  z-index:1000;
}

.transform-90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.transform-270{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.bottom-right-fixed{
	position:fixed;
	right:0px;
	bottom:0px;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapped-text {
    white-space: pre-wrap;
}
