<!DOCTYPE html>
<html ng-app="chidori" ng-controller="controller" class="green accent-4">
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content={{description}}>
    	<meta name="author" content={{author}}>
    	<link rel="icon" href="media/graphics/icon.png">
    	<!-- these tags prevent caching -->
    	<meta http-equiv="pragma" content="no-cache"/>
    	<meta http-equiv="expires" content="-1"/>
		<title>
			{{title}}
		</title>
		<link href="libs/materialize/css/materialize.min.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link href="css/default.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="progress hidden" style="padding:0px;margin:0px;width:100%;position:fixed;left:0px;top:0px;z-index:1000;" id="view-transition-loader">
      		<div class="indeterminate"></div>
  		</div>
		<div id="main">
			<div id="top-bar" class="navbar-fixed hidden">
				<nav>
				    <div class="nav-wrapper green accent-4">
				      <ul class="left">
				        <li><a ng-click="activateTab('#factory-tab')" href="#factory" class="flow-text">{{title}}</a></li>
				        <li id="factory-tab" class="active"><a ng-click="activateTab('#factory-tab')" href="#factory">{{factory_label}}</a></li>
				        <li id="repo-tab"><a ng-click="activateTab('#repo-tab')" href="#repo">{{repository_label}}</a></li>
				        <li id="forge-tab"><a ng-click="activateTab('#forge-tab')" href="#forge">{{forge_label}}</a></li>
				      </ul>
				      <ul class="right">
				        <li><a class="dropdown-button" id="profile-dropdown-button" href="#!" data-activates="profile-dropdown">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
				        <ul id='profile-dropdown' class='dropdown-content'>
						    <li><a href="#profile" ng-click="deactivateAllTabs()">{{profile_label}}</a></li>
						    <li class="divider"></li>
						    <li><a href="#faq" ng-click="deactivateAllTabs()">{{faq_label}}</a></li>
						    <li class="divider"></li>
						    <li><span ng-click="logout()" ng-click="deactivateAllTabs()">{{logout_label}}</span></li>
					  	</ul>
				      </ul>
				    </div>
			  	</nav>
			</div>
			<center id="main_preloader" class="hidden center" style="padding:10px;z-index:1000;">
				<div class="preloader-wrapper active">
                	<div class="spinner-layer spinner-red-only">
                  		<div class="circle-clipper left">
                    		<div class="circle"></div>
                  			</div><div class="gap-patch">
                    		<div class="circle"></div>
                  			</div><div class="circle-clipper right">
                    		<div class="circle"></div>
                  		</div>
                	</div>
              	</div>
			</center>
			<div ng-view></div>
		</id>
	</body>
	<script src="libs/jquery/jquery-2.1.4.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>
		google.load('visualization', '1', {'packages':['corechart']});
	</script>
	<script src="js/default.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/materialize/js/materialize.min.js"></script>
	<script src="libs/angular/angular-route.min.js"></script>
	<script src="js/module.js"></script>
	<script src="js/router.js"></script>
	<script src="js/controller.js"></script>
</html>