<span class="hidden" ng-init="hideMainPreloader()"></span>
<div ng-init="checkForInactiveSession()">
	<div class="bottom-right-fixed" style="padding:10px">
		<div class="btn-floating btn-large waves-effect waves-light red transform-270"><i class="material-icons" ng-click="getAnswerableQuestion('next')">play_arrow</i></div>
		<br/><br/>
		<div class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"  ng-click="getAnswerableQuestion('curr')">replay</i></div>
		<br/><br/>
		<div class="btn-floating btn-large waves-effect waves-light red transform-90"><i class="material-icons"  ng-click="getAnswerableQuestion('prev')">play_arrow</i></div>
	</div>
	<div class="row">
		<div class="col s12">
			<div id="category_maker" ng-init="category='all'" style="overflow: visible;margin-right:4px;margin-left:1px;" class="col s3 black-text white card card-content">
				<div class="blue-text">
					<center style="padding:10px;">Select category</center>
				</div>
				<select id="category_taker" ng-model="category" ng-change="getAnswerableQuestion('')">>
					<option value="all" selected>All</option>
					<option value="general">General</option>
					<option value="engineering">Engineering</option>
					<option value="science">Science</option>
					<option value="maths">Mathematics</option>
					<option value="sci fi">Science Fiction</option>
					<option value="anime">Anime</option>
					<option value="movies">Movies</option>
					<option value="tv shows">TV Shows</option>
					<option value="history">History</option>
					<option value="politics">Politics</option>
					<option value="commerce">Commerce</option>
					<option value="geek">Geek</option>
				</select>
			</div>
			<div class="row hidden" id="no_more_q_error">
				<div class="col s8 white-text teal card card-content">
					<center>
						<div class="flow-text">
							<h3>Oh no :/</h3>
						</div>
						<div class="flow-text">
							It looks like we have run out of questions! Why not forge your own question?
						</div>
					</center>
				</div>
			</div>
			<div class="row hidden" id="question_loading_error">
				<div class="col s8 white-text red accent-2 card card-content">
					<center>
						<div class="flow-text">
							<h3>Oops!</h3>
						</div>
						<div class="flow-text">
							Can't connect to the server, try checking your internet connection once.
						</div>
					</center>
				</div>
			</div>
			<div class="row" id="answer_taker">
				<div class="col s8 black-text white card card-content" id="answer_maker" ng-init="getAnswerableQuestion('')">
					<center>
						<span style="margin:10px;" class="chip {{question.usernameClr}} accent-2 white-text">{{question.username}}</span>
						<span style="margin:10px;" class="chip {{question.clr}} white-text">{{question.multipleAnswersLabel}}</span>
						<span style="margin:10px;" class="chip  blue accent-2 white-text">{{question.category}}</span>
					</center>
					<div class="grey-text">
						Posted on {{question.time}}
					</div>
					<div class="blue-text">
						<h4>Question</h4>
					</div>
					<div ng-repeat="q in question.question">
						{{q}}
					</div>
					<div class="blue-text">
						<h4>Options</h4>
					</div>
					<div>
						<p ng-repeat="o in question.options">
							<input type="checkbox" id="option_{{$index}}" />
      						<label for="option_{{$index}}">
      							{{o.statement}} <br/><span class="chip white-text {{o.clr}}">{{o.per}} %</span>
      						</label>
						</p>
					</div>
					<div style="padding:10px">
						<center>
							<span class="waves-effect waves-dark green-text btn-flat" ng-click="answerQuestion()">
	              				Answer
	            			</span>
	            			<span class="waves-effect waves-dark red-text btn-flat" ng-click="resetOptionTicks()">
	              				Reset
	            			</span>
            			</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    $('select').material_select();
</script>