<span class="hidden" ng-init="hideMainPreloader()"></span>
<div ng-init="checkForInactiveSession()">
	<div class="row">
		<div class="col s3 card card-content" style="margin-left:5px;">
			<div class="blue-text">
				Still can't understand something? Email us your doubts at :
			</div>
			<ul class="collection">
				<li class="collection-item">nidhishetty2008@gmail.com</li>
      			<li class="collection-item">adityachatterjee42@gmail.com</li>
      			<li class="collection-item">atishsharma@live.in</li>
			</ul>
		</div>
		<div class="col s8">
			<ul class="collection avatar" ng-repeat="q in faq_list">
				<li class='collection-item'>
					<span class="flow-text blue-text">
						{{q.Q}}
					</span>
					<p>
						{{q.A}}
					</P>
				</li>
			</ul>
		</div>
	</div>
</div>