<span class="hidden" ng-init="hideMainPreloader()"></span>
<div ng-init="checkForInactiveSession()">
    <div class="row">
		<div class="col s8 offset-s2 black-text card card-content" style="overflow: visible;">
			<h4 class="blue-text">
				Question
			</h4>
			<br/>
			<div class="input-field">
				<i class="material-icons prefix">mode_edit</i>
				<textarea id="question" class="materialize-textarea"></textarea>
				<label for="question">What is the question?</label>
			</div>
			<div id="question_error" class="card red accent-2 card-content hidden white-text">
			</div>
			<h4 class="blue-text">
				Options
			</h4>
			<br/>
			<div id='range_div' ng-init='resetOptionCount()'>
				<center id="range_manager" style="padding:10px;">
					<div class="blue-text">
						How many options do you want to give?
					</div>
					<span id="range_inc" class="btn-floating btn-large waves-effect waves-light blue" ng-click="incOptionCount()"><i class="material-icons" >add</i></span>
					<div id="range_number" class="chip grey darken-4 white-text">
						{{range_num}}
					</div>
					<span id="range_dec" class="btn-floating btn-large waves-effect waves-light blue"ng-click="decOptionCount()" ><i class="material-icons">remove</i></span>
				</center>
				<div class="input-field" ng-repeat="i in getOptionCount()">
					<i class="material-icons prefix">label_outline</i>
          			<input class="option" id="option_{{i}}" type="text">
          			<label for="option_{{i}}">Option no. {{i+1}}</label>
          			<div id="option_error_{{i}}" class="card red accent-2 card-content hidden white-text">
					</div>
				</div>
			</div>
			<center id="multiple_options" style="padding:10px;">
				<div class="blue-text">
					Can a user select multiple options as his/her answer?
				</div>
				<div class="switch">
				    <label>
				    	Single option
				    	<input type="checkbox" id="cb_multiple_options">
				      	<span class="lever">
				      	</span>
				      	Multiple options
				    </label>
  				</div>
			</center>
			<!--center id="perspective" style="padding:10px;">
				<div class="blue-text">
					Is this question meant for public viewing or is it restricted to a specific audience?
				</div>
				<div class="switch">
				    <label>
				      	Public
				    	<input type="checkbox" id="cb_perspective">
				      	<span class="lever">
				      	</span>
				      	Restricted
				    </label>
  				</div>
			</center>
			<div class="hidden" id="restriction">
				<div class="blue-text">
					Enter the username(s) [separated by a space] of all the member(s) you want to allow to answer this question.
				</div>
				<div class="input-field">
					<i class="material-icons prefix">contacts</i>
					<textarea id="restrictions" class="materialize-textarea"></textarea>
					<label for="restrictions">Who all can view this question?</label>
				</div>
			</div-->
			<div id="category" style="padding:10px;">
				<div class="blue-text">
					Does your question belong to a specific category?
				</div>
				<select id="select_category">
			    	<option value="general" selected>General</option>
			      	<option value="engineering">Engineering</option>
			      	<option value="science">Science</option>
			      	<option value="maths">Mathematics</option>
			      	<option value="sci fi">Science Fiction</option>
			      	<option value="anime">Anime</option>
			      	<option value="movies">Movies</option>
			      	<option value="tv shows">TV Shows</option>
			      	<option value="history">History</option>
			      	<option value="politics">Politics</option>
			      	<option value="commerce">Commerce</option>
			      	<option value="geek">Geek</option>
			    </select>
			</div>
			<center id="create_question_preloader" class="hidden">
				<div class="preloader-wrapper small active">
				    <div class="spinner-layer spinner-green-only">
					    <div class="circle-clipper left">
					    	<div class="circle"></div>
					    </div>
					    <div class="gap-patch">
					    	<div class="circle"></div>
					    </div>
					    <div class="circle-clipper right">
					    	<div class="circle"></div>
						</div>
					</div>
				</div>
			</center>
			<center style="padding:10px;">
				<div class="waves-effect waves-dark green-text btn-flat" ng-click="createQuestion()" >
              		Post Question
            	</div>
        	</center>
		</div>
	</div>

</div>
<script>
	$('#question').trigger('autoresize');
	//$('#qrestrictions').trigger('autoresize');
    $('select').material_select();
    /*
    $('#cb_perspective').change(
	    function(){
	        if ($(this).is(':checked')) {
	            show("#restriction");
	        }else{
	        	hide("#restriction");
	        }
 		}
    );
	*/
</script>

<!-- 

Take all usernames with spaces in between
Use a loop to set their ids in an array 
-1 for invalid and above 0 for valid
then when none of the elements in the array are null
( you know this because you check this after every success & error function )
then remove all -1 valued elements from the array by traversing from the back
and then send that array along with the complete json for computation :)

 -->