<span class="hidden" ng-init="hideMainPreloader()"></span>
<div class="container" ng-init="checkForActiveSession()">
  <div class="row">
    <div class="right-fixed">
      <a class="waves-effect waves-dark btn white green-text" style="margin:3px;" href="#login">
        {{login_label}}
      </a>
      <a class="waves-effect waves-dark btn white green-text" style="margin:3px;" href="#signup">
        {{signup_label}}
      </a>
    </div>
  </div>
  <center style="padding-top:75px;">
    <img src="media/graphics/logo.png"/>
  </center>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card white">
        <div class="card-content">
          <form>
            <div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              <input id="login_username" type="text" ng-model="username" />
              <label for="login_username">Username</label>
            </div>
            <div id="login_username_error" class="card red accent-2 card-content hidden white-text">
            </div>
            <div class="input-field">
              <i class="material-icons prefix">vpn_key</i>
              <input id="login_password" type="password" ng-model="password" />
              <label for="login_password">Password</label>
            </div>
            <div id="login_password_error" class="card red accent-2 card-content hidden white-text">
            </div>
            <div id="login_error" class="card red accent-2 card-content hidden white-text">
            </div>
          </form>
        </div>
        <div class="card-action">
          <center>
            <div id="login_preloader" class="hidden">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="waves-effect waves-dark green-text btn-flat" ng-click="login()">
              {{login_label}}
            </div>
          </center>
        </div>
        <center style="padding:10px;">
          <a class="text-blue" href="#signup">
            Don't have an account? Sign up here.
          </a>
        </center>
      </div>
    </div>
  </div>
</div>