<span class="hidden" ng-init="hideMainPreloader()"></span>
<div ng-init="checkForInactiveSession()">
	<div class="row">
		<div class="col s8 offset-s2">
			<div class="card white">
				<div class="card-content">
					<div class="card-title blue-text">
						<center>{{user.username}}<center>
					</div>
					<center>
						<div>
							<table class="highlight centered">
								<tbody>
									<tr>
										<td>
											Username 
										</td>
										<td>
											{{user.username}}
										</td>
									</tr>
									<tr>
										<td>
											Date of birth
										</td>
										<td>
											{{user.dob}}
										</td>
									</tr>
									<tr>
										<td>
											Sign up date and time
										</td>
										<td>
											{{user.signupDate}}
										</td>
									</tr>
								<tbody>
							<table>
						</div>
						<span style="cursor: pointer; margin : 5px;" class="chip orange white-text" ng-click="showChangeUsername()">
							Change Username
						</span>
						<span style="cursor: pointer; margin : 5px;" class="chip teal white-text" ng-click="showChangePassword()">
							Change Password
						</span>
						<span style="cursor: pointer; margin : 5px;" class="chip red accent-2 white-text" ng-click="showAccountDelete()">
							Delete Account
						</span>
					</center>
					<div id="username_change" class="hidden">
						<div class="input-field">
							<i class="material-icons prefix">account_circle</i>
			            	<input id="change_username" type="text" ng-model="username" />
			              	<label for="change_username">New Username</label>
			            </div>
			            <div id="change_username_error" class="card red accent-2 card-content hidden white-text">
			            </div>
			            <center>
			            	<div id="change_username_preloader" class="hidden">
				              	<div class="preloader-wrapper small active">
				                	<div class="spinner-layer spinner-green-only">
					                  	<div class="circle-clipper left">
					                    <div class="circle"></div>
					                  	</div><div class="gap-patch">
					                    <div class="circle"></div>
					                  	</div><div class="circle-clipper right">
					                  	<div class="circle"></div>
					                  	</div>
				                	</div>
				              	</div>
				            </div>
				            <span class="waves-effect waves-dark red-text btn-flat" ng-click="changeUsername()">
				            	Change Username
				            </span>
				            <span class="waves-effect waves-dark green-text btn-flat" ng-click="hideChangeUsername()">
				            	Cancel
				            </span>
			        	</center>
		        	</div>
		        	<div id="password_change" class="hidden">
						<div class="input-field">
							<i class="material-icons prefix">vpn_key</i>
			            	<input id="old_password" type="password" ng-model="old_password" />
			              	<label for="old_password">Old Password</label>
			            </div>
			            <div id="change_old_password_error" class="card red accent-2 card-content hidden white-text">
			            </div>
			            <div class="input-field">
							<i class="material-icons prefix">vpn_key</i>
			            	<input id="new_password" type="password" ng-model="new_password" />
			              	<label for="new_password">New Password</label>
			            </div>
			            <div id="change_new_password_error" class="card red accent-2 card-content hidden white-text">
			            </div>
			            <center>
			            	<div id="change_password_preloader" class="hidden">
				              	<div class="preloader-wrapper small active">
				                	<div class="spinner-layer spinner-green-only">
					                  	<div class="circle-clipper left">
					                    <div class="circle"></div>
					                  	</div><div class="gap-patch">
					                    <div class="circle"></div>
					                  	</div><div class="circle-clipper right">
					                  	<div class="circle"></div>
					                  	</div>
				                	</div>
				              	</div>
				            </div>
				            <span class="waves-effect waves-dark red-text btn-flat" ng-click="changePassword()">
				            	Change Password
				            </span>
				            <span class="waves-effect waves-dark green-text btn-flat" ng-click="hideChangePassword()">
				            	Cancel
				            </span>
			        	</center>
		        	</div>
		        	<div id="account_delete" class="hidden">
						<div class="flow-text white-text card red accent-2 card-content">
							<center>
								Are you sure that you want to delete your account? This is an irreversible action!
							</center>
						</div>
						<div class="input-field">
							<i class="material-icons prefix">vpn_key</i>
			            	<input id="del_ac_password" type="password" ng-model="del_ac_password" />
			              	<label for="del_ac_password">Enter password to delete account</label>
			            </div>
			            <div id="del_ac_error" class="card red accent-2 card-content hidden white-text">
			            </div>
						<center>
							<div id="del_ac_preloader" class="hidden">
				              	<div class="preloader-wrapper small active">
				                	<div class="spinner-layer spinner-green-only">
					                  	<div class="circle-clipper left">
					                    <div class="circle"></div>
					                  	</div><div class="gap-patch">
					                    <div class="circle"></div>
					                  	</div><div class="circle-clipper right">
					                  	<div class="circle"></div>
					                  	</div>
				                	</div>
				              	</div>
				            </div>
				            <span class="waves-effect waves-dark red-text btn-flat" ng-click="deleteAccount()">
				            	Delete Account
				            </span>
				            <span class="waves-effect waves-dark green-text btn-flat" ng-click="hideAccountDelete()">
				            	Cancel
				            </span>
			        	</center>
		        	</div>
				</div>
			</div>
		</div>
	</div>
</div>