<span class="hidden" ng-init="hideMainPreloader()"></span>
<div ng-init="checkForInactiveSession()">
	<div class="bottom-right-fixed" style="padding:10px">
		<div class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"  ng-click="getRepo()">replay</i></div>
	</div>
	<div ng-init="getRepo()">
		<div class="row hidden" id="no_q">
			<div class="col s8 offset-s2 white-text teal card card-content">
				<center>
					<div class="flow-text">
						<h3>Oh no :/</h3>
					</div>
					<div class="flow-text">
						It looks like there are no questions in your repository. Why not forge a new question right now?
					</div>
				</center>
			</div>
		</div>
		<div ng-repeat="question in repo">
			<div class="row">
				<div class="col s8 offset-s2 black-text white card card-content" id="answer_maker" >
					<center>
						<span style="margin:10px;" class="chip {{question.clr}} white-text">{{question.multipleAnswersLabel}}</span>
						<span class="chip blue accent-2 white-text" style="margin:10px;">{{question.category}}</span>
						<span class="chip {{question.chart.ansCountClr}} accent-2 white-text" style="margin:10px;">{{question.chart.totalAnsStatement}}</span>
					</center>
					<div class="grey-text">
						Posted on {{question.time}}
					</div>
					<div class="blue-text">
						<h4>Question</h4>
					</div>
					<div ng-repeat="q in question.question">
						{{q}}
					</div>
					<div class="blue-text">
						<h4>Options</h4>
					</div>
					<div>
						<p ng-repeat="o in question.options" class="grey-text">
							{{o}}
						</p>
					</div>
					<center id="analysis_{{$index}}" class="hidden">
						<div class="switch" style="padding:10px;">
						    <label>
						      	Textual Analysis
						      	<input type="checkbox" id="cb_analysis_type_{{$index}}" ng-change="analysisType($index)" ng-model="analysis_type">
						      	<span class="lever"></span>
						      	Graphical Analysis
						    </label>
						</div>
						<div id="textual_{{$index}}">
							<table class="responsive-table highlight">
								<thead>
						          	<tr>
						             	<th data-field="Option">Option</th>
						              	<th data-field="frequency">Frequency</th>
						              	<th data-field="percentage">Percentage</th>
						          	</tr>
						        </thead>
						        <tbody>
						        	<tr ng-repeat="datum in question.chart.data">
						        		<td>{{datum[0]}}</td>
							            <td>{{datum[1]}}</td>
							            <td>{{datum[2]}} %</td>
						        	</tr>
						        </tbody>
						    </table>
						</div>
						<div id="graphical_{{$index}}" class="hidden">
							<div id="graph_{{$index}}" style="width:{{question.chart.options.width}}; height:{{question.chart.options.height}}" class="hidden">
							</div>
							<div id="bar_graph_{{$index}}" style="width:{{question.chart.options.width}}; height:{{question.chart.options.height}}">
							</div>
							<center>
								<div class="switch" style="padding:10px;">
								    <label>
								      	Bar Graph
								      	<input type="checkbox" id="cb_graphical_analysis_type_{{$index}}" ng-change="graphicalAnalysisType($index)" ng-model="graphical_analysis_type">
								      	<span class="lever"></span>
								      	Pie Chart
								    </label>
								</div>
							</center>
						</div>
					</center>
					<div id="deanalyzer_btns_{{$index}}" style="padding:10px" class="hidden">
						<center>
							<span class="waves-effect waves-dark blue-text btn-flat" ng-click="deanalyzer($index)">
	              				Collapse
	            			</span>
            			</center>
					</div>
					<div id="analyzer_btns_{{$index}}" style="padding:10px">
						<center>
							<span class="waves-effect waves-dark green-text btn-flat" ng-click="analyzer($index)">
	              				Analyze
	            			</span>
	            			<span class="waves-effect waves-dark red-text btn-flat" ng-click="deleteQuestion($index)">
	              				Delete
	            			</span>
            			</center>
            			<div id="q_del_warning_{{$index}}" class="hidden">
            				<div class="card card-content red accent-2 white-text flow-text">
            					Are you sure that you want to delete this question? This is an irreversible action!
            				</div>
            				<center>
								<span class="waves-effect waves-dark red-text btn-flat" ng-click="deleteQ($index)">
		              				Continue
		            			</span>
		            			<span class="waves-effect waves-dark green-text btn-flat" ng-click="dontDeleteQ($index)">
		              				Cancel
		            			</span>
            				</center>
            			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>