<span class="hidden" ng-init="hideMainPreloader()"></span>
<div class="container" ng-init="checkForActiveSession()">
  <div class="row">
    <div class="right-fixed">
      <a class="waves-effect waves-dark btn white green-text" style="margin:3px;" href="#login">
        {{login_label}}
      </a>
      <a class="waves-effect waves-dark btn white green-text" style="margin:3px;" href="#signup">
        {{signup_label}}
      </a>
    </div>
  </div>
  <center style="padding-top:75px;">
    <img src="media/graphics/logo.png"/>
  </center>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card white">
        <div class="card-content">
          <form>
            <div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              <input id="signup_username" type="text" ng-model="username" />
              <label for="signup_username">Username</label>
            </div>
            <div id="signup_username_error" class="card red accent-2 card-content hidden white-text">
            </div>
            <div class="input-field">
              <i class="material-icons prefix">vpn_key</i>
              <input id="signup_password" type="password" ng-model="password" />
              <label for="signup_password">Password</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">vpn_key</i>
              <input id="signup_password_2" type="password" ng-model="password_2" />
              <label for="signup_password_2">Re-enter password</label>
            </div>
            <div id="signup_password_error" class="card red accent-2 card-content hidden white-text">
            </div>
            <div class="input-field">
              <i class="material-icons prefix">today</i>
              <input type="date" id="signup_dob" class="datepicker">
              <label for="signup_dob">Date of Birth</label>
            </div>
            <div id="signup_dob_error" class="card red accent-2 card-content hidden white-text">
            </div>
            <div id="signup_error" class="card red accent-2 card-content hidden white-text">
            </div>
          </form>
        </div>
        <div class="card-action">
          <center>
            <div id="signup_preloader" class="hidden">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="waves-effect waves-dark green-text btn-flat" ng-click="signup()">
              {{signup_label}}
            </div>
          </center>
        </div>
        <center style="padding:10px;">
          <a class="text-blue" href="#login">
            Already have an account? Log in here.
          </a>
        </center>
      </div>
    </div>
  </div>
</div>
<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 50 // Creates a dropdown of 15 years to control year
  });
</script>